In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataset = pd.read_csv('../input/student-alcohol-consumption/student-mat.csv')

In [6]:
# df.filter(regex='[A-CEG-I]')

features = dataset[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob',
        'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup',
        'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 
        'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2']]

In [7]:
features

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,6,5,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,4,5,5
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,10,7,8
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,2,15,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,4,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,5,5,4,4,5,4,11,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,5,3,4,2,3,14,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,5,5,3,3,3,3,3,10,8
393,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,1,3,4,5,0,11,12
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,no,3,2,3,3,3,5,5,8,9

In [8]:
label = dataset[['G3']]

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()

In [13]:
features = pd.DataFrame(features)
#extracting categorical data from the dataset
categorical_data_set = features.dtypes==object
categorical_list = features.columns[categorical_data_set].tolist()

print (categorical_list)

non_categorical_list = features.columns[~categorical_data_set].tolist()

print (non_categorical_list)

['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic']
['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2']

In [14]:
features[categorical_list] = features[categorical_list].apply (lambda cols: labelencoder.fit_transform(cols))

In [15]:
features[categorical_list].head(10)

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,0,0,1,0,0,0,4,0,1,1,0,0,0,1,1,0,0
1,0,0,1,0,1,0,2,0,0,0,1,0,0,0,1,1,0
2,0,0,1,1,1,0,2,2,1,1,0,1,0,1,1,1,0
3,0,0,1,0,1,1,3,1,1,0,1,1,1,1,1,1,1
4,0,0,1,0,1,2,2,1,0,0,1,1,0,1,1,0,0
5,0,1,1,1,1,3,2,3,1,0,1,1,1,1,1,1,0
6,0,1,1,1,1,2,2,1,1,0,0,0,0,1,1,1,0
7,0,0,1,0,0,2,4,1,1,1,1,0,0,1,1,0,0
8,0,1,1,1,0,3,2,1,1,0,1,1,0,1,1,1,0
9,0,1,1,0,1,2,2,1,1,0,1,1,1,1,1,1,0

In [20]:
oneHotEncoder = OneHotEncoder (categorical_features = categorical_data_set, sparse = False)
featuresOHE = oneHotEncoder.fit_transform(features)

/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/opt/conda/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [25]:
type(features)

pandas.core.frame.DataFrame

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(featuresOHE, label, test_size = 0.2, random_state = 2)

In [28]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit (X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
grades_predict = regression.predict (X_test)

In [30]:
print (grades_predict)

[[12.88446302]
 [16.70129547]
 [16.14763391]
 [14.48256092]
 [12.88870618]
 [ 7.97348958]
 [ 6.76101809]
 [ 7.04670101]
 [ 8.89162689]
 [12.02570608]
 [13.64234118]
 [10.45556481]
 [ 7.28166946]
 [ 8.63009513]
 [ 9.68655358]
 [12.2286789 ]
 [ 8.69039444]
 [13.48563552]
 [12.095717  ]
 [ 8.71571373]
 [14.45526904]
 [ 7.4095701 ]
 [ 9.35788244]
 [13.2228523 ]
 [14.99158444]
 [16.43290732]
 [13.96238655]
 [ 5.65351911]
 [ 8.13267992]
 [15.36916854]
 [ 8.10912963]
 [13.90246094]
 [ 9.20354703]
 [13.02690891]
 [ 3.69607197]
 [10.39148179]
 [-1.81170982]
 [ 9.49033516]
 [11.31009034]
 [ 9.32205657]
 [19.74943395]
 [ 7.93057034]
 [ 7.00490184]
 [ 7.93154514]
 [ 7.6554734 ]
 [ 7.46174459]
 [ 6.04771415]
 [ 5.81943296]
 [15.24446138]
 [ 3.42205213]
 [ 5.196816  ]
 [ 9.05393563]
 [11.20285194]
 [11.39999155]
 [ 4.75792981]
 [ 8.35322895]
 [11.10578313]
 [ 4.77215946]
 [ 7.46331686]
 [10.99141414]
 [19.16548919]
 [ 9.61125299]
 [11.36965294]
 [15.3981029 ]
 [ 4.46096809]
 [11.28009647]
 [ 9.91736443]
 [ 7.12192969]
 [17.79308901]
 [ 7.26344273]
 [ 8.41140665]
 [17.55655865]
 [12.83659397]
 [11.21821831]
 [16.74245749]
 [10.64626807]
 [ 3.89267786]
 [15.62748092]
 [10.51476822]]

In [34]:
print (X_test[0], grades_predict[0])

[ 1.  0.  0.  1.  0.  1.  0.  1.  0.  1.  0.  0.  0.  1.  0.  0.  1.  0.
  0.  0.  0.  0.  0.  1.  0.  1.  0.  1.  0.  0.  1.  1.  0.  0.  1.  0.
  1.  0.  1.  0.  1.  1.  0. 15.  2.  2.  1.  4.  0.  4.  3.  4.  1.  1.
  4.  6. 11. 13.] [12.88446302]